# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment variables
.env
.env*.local
.env.*.local
!.env.example

# Firebase service account key files
# Common names and patterns for Firebase service account keys.
# Add the specific name of YOUR service account key file if it's different.
serviceAccountKey.json
*-firebase-adminsdk-*.json
*.firebase-adminsdk.json
google-credentials.json

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
next-env.d.ts

# Production
/build

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Netlify folder
.netlify

# NextAuth.js
next-auth.session-token

# TypeScript cache
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
